<div class="container__big-card">
    <div class="big-card__photo">
        <img src="https://uploads-ssl.webflow.com/5ea9a731ca3c740bf6c0ad17/625d394d91f4281bd19e86a6_From%20angularjs%20to%20angular%20pilar%201600x800.png"
         alt=""
         height="200px"
        >
    </div>
    <div class="big-card__title">
        <h1><a href="">Computação Quântica Explicada</a></h1>
    </div>
    <div class="big-card__description">
        <p>
            <a href="">
                is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's 
                standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled 
                it to make a type specimen book. It has survived not only five centuries
            </a>
        </p>
    </div>
</div>
